.header-title {
    font-size: 1.8rem;
    cursor: pointer;
}

.header-content {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.menu-item {
    font-size: 1.8rem;
    margin-left: 4rem;
    cursor: pointer;
}